.container_ladder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container_tabella {
	width: 100%;
	margin-top: 20px;
	background-color: #bbd6f90d;
	border-radius: 10px;
	padding: 20px;
	overflow-x: auto;
}
.container_tabella thead tr th {
	user-select: none;
}
.container_utenti {
	width: max(80vw, 300px);
}
.container_tabella td {
	color: white !important;
	font-size: 1.2rem;
}
.container_view_option {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: row;
	gap: 10px;
}
.selected {
	background-color: #bbd6f90d;
	border-radius: 5px;
	padding: 2px 10px;
}
.container_card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 20px;
}
.table {
	min-width: 600px;
	overflow-x: auto;
}
.container_title_option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 40px;
}
