.container_tournament_bracket {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}
.container_bracket {
	width: 100%;
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.container_tournament_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: white;
	padding: 20px 0;
	padding-right: 20px;
	flex-wrap: wrap;
}

.img_card {
	width: 120px;
	height: 150px;
	border-radius: 15px;
	object-fit: cover;
	position: relative;
}
.container_card {
	width: 100%;
	background-color: #bbd6f90d;
	border-radius: 10px;
	height: 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 30px 0;
	gap: 10px;
}

.container_img {
	position: relative;
	left: 0;
	top: 0;
}
.container_img_titolo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	flex: 0.66;
}

@media screen and (max-width: 470px) {
	.container_card {
		width: 100%;
		background-color: #bbd6f90d;
		border-radius: 10px;
		height: 180px;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 30px 0;
	}

	.container_countdown {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-radius: 10px;
		flex: 0.3;
	}

	.container_tournament_header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		color: white;
		padding: 20px 0;
		padding-right: 20px;
		flex-wrap: wrap;
	}
}

.container_countdown {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 10px;
	flex: 0.3;
}

.container_value_countdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container_value_countdown > span,
h4 {
	font-size: 1.2rem;
	color: white;
}
.container_info_tournament {
	width: 100%;
	margin-top: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.container_info {
	width: 90%;
}
.container_details_tournament {
	background-color: #bbd6f90d;
	border-radius: 10px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	width: 100%;
}
.container_details_tournament p {
	font-size: 1.1rem;
	color: white;
}

.container_prize {
	border-radius: 10px;
	max-width: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 20px;
	flex: 0.2;
}
.container_details_prize {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 20px;
}
.title_tournament {
	font-size: min(2rem, 5vw);
	font-weight: bold;
}
.container_prize_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container_prize_item > span {
	font-size: 1.5rem;
	color: white;
}
.container_img_platform {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
.container_card_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 150px;
	height: 82px;
	border-radius: 10px;
	border: 1px solid lightgray;
	padding: 10px;
}
.container_cards_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 3px;
	flex: 0.8;
	flex-wrap: wrap;
}
@media screen and (max-width: 860px) {
	.container_cards_info {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 10px;
		flex: 1;
		flex-wrap: wrap;
	}
	.container_details_tournament {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
