.navBar {
	background: #0e1f34;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.container_navbar {
	width: max(80vw, 300px);
}
.logo {
	max-width: 50px;
	transition: all 0.2s;
	margin-right: 20px;
}
.navItem a {
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 20px;
}
.navLink:active {
	color: #00ff00 !important;
}
.navLink {
	color: white;
	text-decoration: none;
}
.navLink:hover {
	text-decoration: 2px solid underline;
	color: white;
}
.username {
	color: white;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}
.username p {
	margin: 0;
}
.container_header_options {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 300px) {
	.username {
		color: white;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		padding: 0;
		gap: 10px;
		align-items: center;
	}
}
.container_card_joined_tournament {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background: #111c2c;
	border-radius: 10px;
	width: 100%;
}
.img_card {
	width: 120px;
	height: 150px;
	border-radius: 15px;
	object-fit: cover;
	position: relative;
}
.container_card_joined_tournament p {
	margin: 0;
}
