.container_create_team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-top: 10px;
}
.container_card {
	width: min(500px, 80%);
	background-color: #bbd6f90d;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin: 30px 0; */
	padding: 20px;
	gap: 10px;
	margin-bottom: 20px;
}

@media screen and (max-width: 360px) {
	.container_card {
		width: 95%;
		flex: 1;
	}
}

.container_input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min(300px, 90%);
	gap: 20px;
}
.container_username {
	width: min(300px, 90%);
}
.container_team_esistente {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 10px;
	width: 200px;
	border: 1px solid lightgray;
	cursor: pointer;
}
.container_team_esistenti {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 90%;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 20px;
}

.container_team_esistente h4 {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0;
}
.selected {
	background-color: #bbd6f90d;
	border: 1px solid yellow;
}
.container_team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 5px;
}
.button_conferma {
	width: 150px;
	height: 40px;
}
.container_team_esistente:hover {
	border: 1px solid yellow;
}

.container_or {
	width: 100%;
	text-align: center;

	border-bottom: 1px solid lightgray;
	line-height: 0.1em;
	margin: 50px 0 !important;
}

.container_or span {
	background-color: #071221;
	padding: 0 10px;
}

.container_input_member {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
}

.gap {
	width: 20px;
	height: 20px;
}
.container_button_join {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	width: 90%;
	flex-wrap: wrap;
}

@media screen and (max-width: 360px) {
	.button_conferma {
		width: 100%;
	}
	.container_button_join {
		gap: 0;
	}
}
